
# Database URL for MySQL
DATABASE_URL="mysql://nebula_ai:nebula_ai@localhost:3306/nebula_ai"

# better auth
BETTER_AUTH_SECRET= # generate one using `openssl rand -base64 32`
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
